body {
    background:black;
    
    padding: 0;
    margin: 0;
    }
    
    #wrapper {
        width:50%;
        margin:0 auto;
    }
    
    
    #game {
        width: 100%;

        cursor: none;
    }
    
    